@import "~highlight.js/styles/atom-one-dark.css";
@import "~@lgv/visualization-chart/src/example/style/index.css";

figure {
    max-width: 100%;
}

#legend {
    font-size: 0.8em;
    margin-bottom: 3em;
    max-width: 500px;
    width: 30%;
}

.lgv-week {
    color: transparent;
}

/* show subset of week labels */
.lgv-week:nth-of-type(7n + 1) {
    color: currentColor;
}

.lgv-week:nth-of-type(7n + 1)::before {
    content: "w";
}