:root {
    --cellpadding: 0.15em;
    --dowpadding: 2em;
    --weekcount: 52;
    --weekcountsub1: 51;
}

/* Preferred box-sizing value */
.lgv-activity-calendar *,
.lgv-activity-calendar *::before,
.lgv-activity-calendar *::after {
    box-sizing: border-box;
}

/******************* CALENDAR *******************/

/* label groups */
.lgv-woy,
.lgv-dow {
    display: flex;
    font-size: 0.8em;
    text-align: center;
}

/* week of year */
.lgv-woy {
    margin-left: var(--dowpadding);
}

/* day of week */
.lgv-dow {
    width: var(--dowpadding);
}

/* dow + cells */
.lgv-grid {
    display: flex;
}

/* wraps for grid */
.lgv-dow,
.lgv-content {
    align-items: center;
}

/* day of week */
.lgv-dow {
    flex-direction: column;
    margin-right: var(--cellpadding);
}

/* cells */
.lgv-content {
    flex-wrap: wrap;
}

/* week column */
.lgv-week,
.lgv-cell {
    display: block;
    margin-bottom: var(--cellpadding);
    margin-right: var(--cellpadding);
    width: calc((100% / var(--weekcount)) - (var(--weekcountsub1)/var(--weekcount) * var(--cellpadding)));
}

/* last cell in row */
.lgv-week:nth-of-type(52n),
.lgv-cell:nth-of-type(52n) {
    margin-right: 0;
}

/* day of week */
.lgv-day {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: var(--cellpadding);
}

/* last cell in column */
.lgv-day:last-of-type,
.lgv-cell.lgv-cell-last-in-column {
    margin-bottom: 0;
}

/******************* CELL *******************/

/* body */
.lgv-cell {
    border: 0.05em;
    border-style: solid;
}

/* cell swatch */
.lgv-cell-swatch {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}